@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SANJUGotgam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.falseFooter {
  display: flex;
  justify-content: center;
}

.falseFooter Button {
  position: fixed;
  bottom: 0;
  margin-bottom: 6%;
  border-radius: 100px;
  width: 180px;
  height: 50px;
  background: white;
  opacity: 0.9;
  color: #4e3517;
}
.auth {
  margin: 20px;
  margin-top: 100px;
}
.auth Button {
  margin-top: 10px;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
}
.auth h2 {
  font-size: 20px;
}

.mainWrapper {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}
.mainWrapper > img {
  margin: 3% 0 0 0;
}
.mainFooter {
  display: flex;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  justify-content: space-around;
  height: 70px;
  bottom: 0;
  position: fixed;

  max-width: 500px;
  width: 100%;
}

.mainFooter img {
  width: 40px;
  margin-top: 13px;
}

.dateCont {
  /* flex: 1; */
  justify-content: start;
  padding-left: 5%;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  opacity: 0.8;
  border-radius: 30px;
  width: 90%;
  align-self: center;
  padding-bottom: 29%;
  align-content: center;
}
@keyframes blink-effect {
  70% {
    opacity: 0.8;
  }
}

.today {
  animation: blink-effect 1s step-end infinite;
}
.nextDay > img {
  bottom: 0;
  margin-top: 30px;
  height: 70px;
  width: 50px;
  margin-left: 10px;
}
.nextDay p {
  margin: 0;
  position: absolute;
  top: -3%;
  font-size: 15px;
  color: rgb(39, 158, 15);
  font-family: "SANJUGotgam";
}
.date {
  text-align: center;
  position: absolute;
  top: -4%;
  left: 21%;
  font-size: 18px;
}
.date p {
  color: #2c435d;
  opacity: 60%;
  font-family: "SANJUGotgam";
}

.dateWrapper {
  bottom: 0;
  margin-top: 30px;
  height: 70px;
  width: 50px;
  margin-left: 10px;
}

.dateWrapper img {
  bottom: 0;
  height: 60px;
}

.title {
  width: 90%;
  font-size: 24px;
  display: flex;
  padding: 4px 0;
  margin: 64px 0 0 19px;
  border-bottom: white 1px solid;
  color: white;
  opacity: 0.8;
}
.title > div:first-child {
  font-size: 24px;
  text-align: center;
  padding: 4px 0;
  margin: 34px 0 0 19px;
  flex: 1;
  color: white;
  word-break: keep-all;
  opacity: 0.8;
}
.title > div:nth-child(2) {
  font-size: 24px;
  text-align: center;
  border-radius: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  word-break: keep-all;
  padding: 4px 0;
  margin: 34px 0 0 19px;
  color: #ffeb3b;
  opacity: 0.8;
}
.goal {
  font-size: 23px;
  background: #000000b8;
  padding: 14px;
  border-radius: 20px;
  text-align: center;
  margin: 10px 19px;
  color: white;
  opacity: 0.8;
}
.iGotMsg {
  display: flex;
  height: 0px;
}
.iGotMsg p {
  height: 30px;
  z-index: 100;
  position: relative;
  top: -24px;
  left: -20px;
  color: #ff5050;
}

.iGotMsg img {
  width: 32px;
  z-index: 100;
  height: 30px;
  margin-top: -17px;
  /* margin-bottom: 0px; */
  opacity: 100%;
  margin-left: 3px;
}
